* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.3;
  font-weight: 500;
  background-color: white;
}

/* Utility */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.donateBtn {
  color: white;
  background-color:red;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  border: none;
  font-size: 1rem;
  transition: all .5s;


}

.donateBtn:hover{
  background-color:white;
  color: red;
  cursor: pointer;
}

a {
  text-decoration: none;
  /* color: white; */
}
a:hover{
  background: white;
  color: red;
}
p {
  font-size: 1.2rem;
}

/* section1 */
#container .header {
  grid-template-columns: 3fr 2.5fr;
  grid-gap: 2em;
  margin: 1em 3em;
}

#container .header .logo {
  display: flex;
  align-items: center;
}

#container .header .logo .name {
  font-size: 1.5rem;
  margin-left: 1rem;
  font-weight: bold;
  color: black;
}

#container .header .rightHeader .border {
  height: 1px;
  width: 100%;
  background-color: lightgray;
  margin: 1rem 0;
}
#container .header .rightHeader .socialMedia {
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0.5rem;
}

#container .header .rightHeader .socialMedia .inputs {
  position: relative;
}
#container .header .rightHeader .socialMedia .inputs .searchIcon {
  position: absolute;
  margin: 0.5rem 0.5rem 0 0;
  right: 0;
  color: grey;
  font-size: large;
}

#container .header .rightHeader .socialMedia .inputs .input {
  border: 1px solid gray;
  border-radius: 1rem;
  padding: 0.5rem 0.5rem;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: gray;
  width:;
}

#container .header .rightHeader .socialMedia .inputs .input:focus {
  border: 2px solid lightblue;
}


#container .header .rightHeader .socialMedia .medias {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0.5rem;
}

#container .header .rightHeader .socialMedia .medias div a {
  border-radius: 2rem;
  background-color: red;
  padding: 0.5rem;
  color: white;
  font-size: 1.2rem;
}

/* Navs */
#container .navs .nav {
  /* grid-template-columns: repeat(6,3fr); */
  align-items: center;
  display: flex;
  text-transform: uppercase;
  justify-content: center;
}

#container .navs .nav li {
  list-style-type: none;
  position: relative;
}

#container .navs .nav li a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  padding: 1rem;
  display: block;
}

#container .navs .nav li a::after {
  content: "";
  display: block;
  height: 2px;
  background: red;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}

#container .navs .nav li a:hover::after {
  transform: scale(1, 0.5);
}

#container .navs .nav .dropDown {
  display: none;
  background-color: #e3e4e7c9;
  position: absolute;
  width: 200px;
  z-index: 1;
}

#container .navs .nav li:hover > .dropDown {
  display: block;
}

#container .navs .nav .dropDown li {
  width: 100%;
}

#container .navs .nav .dropDown li a {
  padding: 0.5rem 1rem;
}

#container .navs .nav .dropDown li a:hover {
  background-color: #9e9393;
}

/* Slider */

.slideshow-container {
  position: relative;
  max-width: 100%;
  height: 80vh;
  margin: auto;
}

.slide {
  display: none;
}

img {
  vertical-align: middle;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: red;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: white;
}

.active,
.dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

.banner {
  margin-top: 1rem;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: black;
  position: relative;
  transition: background-image 1s ease-in-out;
}

.slide1 {
  background-image: url(./img-src/pexels-konevi-2830460.jpg);
}
.slide2 {
  background-image: url(./img-src/pexels-mloky96-36704.jpg);
}
.slide3 {
  background-image: url(./img-src/pexels-thirdman-8489273.jpg);
}

.overlay {
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  color: white;
}

.slideshow-container .slide .overlay h1 {
  font-size: 3em;
}

.slideshow-container .slide .overlay p {
  font-size: 1.5em;
}

.readMore {
  padding: 0.5em 1em;
  font-size: 1.1em;
  border-radius: 5rem;
  cursor: pointer;
}

.readMore:hover {
  border: none;
  background: red;
  color: white;
  transition: all 1s;
}

.dots {
  text-align: center;
}

/* News*/
#container .updatesWrapper {
  grid-template-columns: repeat(12,1fr);
  grid-gap: 3rem;
  /* grid-template-rows: auto auto;  */

}

#container .updatesWrapper .latestNews{
  grid-column: span 7;
  background: green;
  /* align-self: stretch; */
}
#container .updatesWrapper .latestNews .latestNewsBanner{
  background-image: url(img-src/nurse.jpg);
}
#container .updatesWrapper .latestNews .quranJournalWrapper{
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-template-rows: auto auto;
}
#container .updatesWrapper .latestNews .quranJournalWrapper img{
  height: 8rem;
  width: 100%;
}
/* #container .updatesWrapper .latestNews .quranJournalWrapper .quranJournal{
  background-image: url(./img-src/pexels-konevi-2475725.jpg);
}
#container .updatesWrapper .latestNews .quranJournalWrapper .allahMercy{
  background-image: url(./img-src/pexels-thirdman-7956746.jpg);

} */

#container .updatesWrapper .latestUpdates{
  grid-column: span 5;
  background: yellow;
  align-self: flex-start;
}

#container .updatesWrapper 
/* #container .updatesWrapper h1 {
  color: black;
}

#container .updatesWrapper .latestNews {
  flex: 5;
  width: 100%;
  height: 100%;
}
#container .updatesWrapper .latestNews .banner p {
  margin: 2rem 2rem 3rem 2rem;
  font-size: medium;
}
#container .updatesWrapper .latestUpdates {
  flex: 4;
  width: 100%;
  height: 100%;
}
#container .updatesWrapper .latestUpdates p {
  font-size: 1.4rem;
}
.latestNewsBanner {
  height: 40vh;
  background-image: url(./img-src/nurse.jpg);
}

#container .updatesWrapper .latestNews .latestNewsBanner a:hover {
  text-decoration: underline;
} */

/* quranJournal */
/* #container .updatesWrapper .latestNews .quranJournalWrapper {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

#container .updatesWrapper .latestNews .quranJournalWrapper .quranJournal {
  height: 8rem;
  width: 100%;
}

#container .updatesWrapper .latestNews .quranJournalWrapper .allahMercy {
  width: 100%;
  height: 8rem;
}

#container .updatesWrapper .latestNews .quranJournalWrapper .allahMercy a p,
.quranJournal p {
  margin-top: 1rem;
  color: red;
} */

/* Quick donate */
#container .quickDonateWrapper {
  background: lightgrey;
  height: 70vh;
  grid-template-columns: auto auto;
  justify-content: center;
  place-items: center;
  margin: rem 0;
}

#container .quickDonateWrapper .quickDonate {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* margin-left: 4rem; */
}

#container .quickDonateWrapper .quickDonate .donateBtns {
  padding: 1rem;
  max-width: 20rem;
  /* margin-top: 4rem; */

}
#container .quickDonateWrapper .quickDonate .donateBtns .donateAmountWrapper{
  grid-template-columns: auto auto auto;
  color: blue;
}

#container .quickDonateWrapper .quickDonate h1 {
  margin-bottom: 1rem;
}


#container .quickDonateWrapper .quickDonate .donateBtns  .donateAmountBtn {
  padding: 0.9rem 1.2rem;
  border-radius: 5px;
  border: 1px solid red;
  background: whitesmoke;
  margin: 3rem 1rem 1rem 0;
  cursor: pointer;
}
#container .quickDonateWrapper .quickDonate .donateBtns .donateAmountBtn:focus {
  background-color: red;
}

#container .quickDonateWrapper .quickDonate .donateBtns .other {
  display: flex;
  padding: .5rem 1rem;
  margin-bottom: 1rem;
  border:1px solid red;

}
#container .quickDonateWrapper .quickDonate .donateBtns .other input:focus{
  border: 1px solid red;

}
#container .quickDonateWrapper .quickDonate .donateBtns .other .input {
  position: relative;
  width: 8rem;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  outline: none;
}


#container .quickDonateWrapper .quickDonateImage {
  /* margin: 6rem 8rem 0 2rem; */
  /* flex: 5; */
}

 